
.inspector-footer
	.inspector-footer-row
		ul
			margin-bottom: 10px;
			li
				padding-right: 20px;
				.value
					padding-left: 10px;
					ul
						list-style-type: disc
						padding-left: 25px



